<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="fragments/_layout :: content">
        <article>
            <h1 th:text="${project.title}">Title</h1>
            <img th:if="${project.coverImage}" th:src="${project.coverImage}" th:alt="${project.title}">
            <p th:text="${project.description}">desc</p>
            <div class="tags"><span th:each="sk : ${project.skills}" th:text="${sk.name}">Tech</span></div>
            <p>
                <a th:if="${project.repoUrl}" th:href="${project.repoUrl}">Repo</a>
                <a th:if="${project.liveUrl}" th:href="${project.liveUrl}">Demo</a>
            </p>
        </article>
    </th:block>
</html>
